@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;}

body{font-size: 100%;
    background: linear-gradient(68.15deg, #0D0D0D 16.62%,  #262626 85.61%);}

.cabecalho{display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    padding: 14px;}

.cabecalho-imagem{height: 150px;}

.cabecalho-menu{display: flex;
gap: 32px;}

.cabecalho-menu-item{color: #F2E41B;
    font-weight: 400;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
}

.cabecalho-menu-item:hover{color: #8C8303;}

.conteudo{border-top: 0.4px solid #F2E41B;
margin-bottom: 48px;}

.conteudo-principal{display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .conteudo-principal-escrito{display: flex;
flex-direction: column;
gap: 32px;}

.conteudo-principal-escrito-titulo{font-family: 'Righteous', cursive;
font-weight: 400;
font-size: 64px;
color: #F2E41B;}

div.video{background-color:#F2E41B;
    border-radius: 10px;
    box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.637);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;}


.conteudo-principal-escrito-subtitulo{font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 24px;
color: #F2E41B;}

.conteudo-principal-escrito-botao{background-color: #262425;
    color: #F2E41B;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
width:180px;
height: 60px;}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);}
  
  .conteudo-principal-imagem {
    height: 430px;}

.conteudo-secundario{display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
margin-top: 48px;
}

.conteudo-secundario-titulo{border-top: 0.4px solid #F2E41B;
padding-top: 48px;
font-family: 'Righteous', cursive;
font-weight: 400;
font-size: 24px;
color: #F2E41B ;
margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #F2E41B;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #F2E41B;
}

.rodape-imagem {
 height: 60px;
  display: block;
  margin: 0 auto;
}
